$colorForTitles: #333;
$colorForText: #424242;
$colorForPlaceholders: #777;
$colorForBlueBorders: #17a2e2;
$colorForBlueShadows: #d8e1e4;

$lightBlue: #1ccefd;
$blue: #1184b9;
$darkBlue: #283b6e;

$fontFamilyForTitle: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontFamilyForText: 'Segoe UI', 'Roboto', Verdana, sans-serif;
$fontFamilyForServiceText: 'Roboto', 'Segoe UI', Verdana, sans-serif;